    .fundo {
    background-color: rgba(6, 111, 160, 0.39);
    }
    .foto {
    position: absolute;
    left: 0%;
    bottom: 400px;
    top: 0px;
    height: 602px;
    width: 700px;
    }

    #senhaInput{
    width: 150px;
    height: 25px;
    border: none; 
    background-color: rgba(41, 175, 236, 0.349);
    }

    #senhaInput:hover {
    background-color:bisque;
    }

    #nomeInput{
    width: 150px;
    height: 25px;
    border: none;
    background-color: rgba(41, 175, 236, 0.349);
    }

    #nomeInput:hover {
    background-color: bisque;
    }

    #buttonEnter{
    color:rgb(4, 60, 112);
    border: none;
    font-size: larger;
    font-weight: bold;
    border-radius: 0%;
    background-color: rgba(41, 174, 236, 0.575);
    opacity: 0.7;
    width: 313px;
    height: 40px;
    }

    #buttonEnter:hover {
    background-color: rgba(14, 102, 124, 0.486);
    color: bisque;
    }

    #criarConta{
    color: rgba(10, 14, 248, 0.904);
    font-size: large;
    border: none;
    background-color: rgba(57, 118, 146, 0.342);
    opacity: 0.7;
    display: flex;
    position: absolute;
    left: 110px;
    top: 95px; 
    }

    #criarConta:hover {
    background-color: rgba(14, 102, 124, 0.486);
    color: rgb(19, 16, 226); }

    .titulo {
    color: rgb(4, 60, 112);
    background-color:rgba(6, 111, 160, 0.349);
    width: 430px ;
    border-radius: 10px;
    text-align: center;
    font-size: 60px ;
    display: flex;
    position: relative;
    left: 745px;
    top: 50px; 
    }

    .titulo:hover {
    background-color: rgba(11, 11, 70, 0.178);
    }

    .sistema {
    display: flex;
    position: relative;
    left: 800px;
    top: 80px; 
    width: 50%;
    }
